.yonge { color: #ffba29; }
.yonge-bg { background-color: #ffba29; }
.bloor { color: #31b252; }
.bloor-bg { background-color: #31b252; }
.scarborough { color: #00aaef; }
.scarborough-bg { background-color: #00aaef; }
.sheppard { color: #9c3c94; }
.sheppard-bg { background-color: #9c3c94; }
.lakeshoreeast { color: #622ef9; }
.lakeshoreeast-bg { background-color: #622ef9; }
.lakeshorewest { color: #cc0000; }
.lakeshorewest-bg { background-color: #cc0000; }
.milton { color: #f5a55b; }
.milton-bg { background-color: #f5a55b; }
.georgetown { color: #036447; }
.georgetown-bg { background-color: #036447; }
.barrie { color: #01cdfe; }
.barrie-bg { background-color: #01cdfe; }
.richmondhill { color: #411965; }
.richmondhill-bg { background-color: #411965; }
.stoufville { color: #cc63fc; }
.stoufville-bg { background-color: #cc63fc; }

.ttc { color: #cc0000; }
.ttc-bg { background-color: #cc0000; }
.viva { color: #009ddc; }
.viva-bg { background-color: #009ddc; }
.go { color: #31b252; }
.go-bg { background-color: #31b252; }
